.form{
  display: flex;
  flex-direction: column;
  &__title{
    text-align: center;
  }
  &__data{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
  &__files{
    position: relative;
    display: inline-block;
    color: rgb(129, 126, 126);
    cursor: pointer;
    margin: 0 12px;
    padding: 2px 6px;
    border-radius: 6px;
    border: 1px solid lightgray;
    font-size: 13px;
    height: 22px;
  }
  &__item{
    margin: 0 12px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid lightgray;
  }
  &__upload {
    display: inline-block;
    color: rgb(129, 126, 126);
    cursor: pointer;
    border: 1px solid transparent;
    z-index: 30;
    width: 100%;
    height: 100%;
  }
  &__names {
    position: absolute;
    top: 0;
    z-index: 10;
    font-size: 14px;
    color: #5d5b5b;
  }
  &__save{
    margin: 20px auto;
    border: 1px solid rgb(18, 117, 18);
    background: rgb(18, 117, 18);
    color: #fff;
    width: max-content;
    border-radius: 8px;
    padding: 5px 12px;
    cursor: pointer;
    &:hover{
      background: #fff;
      color: rgb(18, 117, 18);
      border: 1px solid rgb(18, 117, 18);
    }
  }
  @media (min-width:768px) {
    &__data{
      width: 720px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px;
    }
  }
  input[type="file"] {
    display: none;
}
}